@charset "UTF-8";
.lt-padding {
    padding: 10px;
    border-top: 1px solid #ccc;

}
.lt_price .price {
    color: red;
}
.lt_price .oldPrice {
    font-size: 12px;
    text-decoration: line-through;
}
.lt_size span {
    font-size: 12px;
    line-height: 30px;
    padding: 5px;
    border: 1px solid #ccc;
}

.lt_num span{
    font-size: 12px;
    color: #666;
}